.accordion {

  &.js {
    .accordion-section-header:hover {
      color: $secondary-color;
      text-decoration: underline;
      cursor: pointer;
      svg {
        fill: $secondary-color;
      }
    }
  }

  display: block;
  margin-bottom: 1rem;
  border-bottom: 1px solid $white;

  .accordion-section {
    border-top: 1px solid $white;
  }

  .accordion-section-header {
    position: relative;
    padding: 1.2rem 0;
  }

  h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    button {

      all: inherit;
      margin-right: 40px;
      &[aria-expanded='true'] {
        .vert { display: none; }
      }
      &:focus-visible {
        background-color: $tertiary-color;
        text-decoration: underline;
      }

      svg {
        fill: $white;
        position: absolute;
        right: 0;
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }

}
